.ui-dialog .ui-header .ui-btn-icon-notext .ui-icon{
    background-image: none !important;
}
.ui-dialog .ui-header .ui-btn-icon-notext, .ui-icon-delete::before{
    content: "✕" !important;
    color: white !important;
    font-size: 14px !important;
    font-weight: bold !important;
    display: block !important;
}
/* Diccionario de iconos HD */
.ui-icon-cart::before  { 
	content: "🛒";
	color: white !important;
	font-size: 11px;
	margin-top: 2px;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-grid::before {
	content: "⋮⋮⋮";
	font-size: 14px;
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-home::before {
	content: "⌂";
	color: white !important;
	margin-top: -2px;
	font-size: 18px;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-bars::before {
	content: "≡";
	font-size: 20px;
	margin-top: -2px;
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-arrow-l::before {
	content: "<";
	font-size: 20px;
	margin-top: -2px;
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-arrow-r::before {
	content: ">";
	font-size: 20px;
	margin-top: -2px;
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-search::before {
	content: "🔎";
	color: white !important;
	font-size: 12px;
	margin-top: 2px;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-gear::before {
	content: "⚙";
	margin-top: -1px;
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-info::before {
	content: "ℹ️";
	font-size: 13px;
	margin-top: 2px;
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-refresh::before {
	content: "↻";
	margin-top: -3px;
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
/* Iconos de navegación y estado */
.ui-icon-plus::before {
	content: "+";
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-minus::before {
	content: "−";
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-check::before {
	content: "✓";
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-delete::before {
	content: "✕";
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-arrow-u::before {
	content: "^";
	margin-top: 0px;
	font-size: 20px;
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-arrow-d::before {
	content: "v";
	margin-top: 0px;
	font-size: 20px;
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}

/* Iconos de acción y multimedia */
.ui-icon-forward::before {
	content: "↪";
	color: white !important;
	margin-top: -1px;
	font-size: 14px;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-back::before {
	content: "↩";
	color: white !important;
	margin-top: -1px;
	font-size: 14px;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-star::before {
	content: "★";
	color: white !important;
	font-size: 12px;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-alert::before {
	content: "⚠";
	font-size: 12px;
	margin-top: 1px;
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}

/* Iconos de reproductores */
.ui-icon-play::before {
	content: "▶";
	margin-left: 2px;
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-pause::before {
	content: "Ⅱ";
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-stop::before {
	content: "■";
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-checkbox-on::before {
	content: "☑";
	font-size: 14px;
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-checkbox-off::before {
	content: "☐";
	font-size: 14px;
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-radio-on::before {
	content: "⊙";
	font-size: 14px;
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-radio-off::before {
	content: "◯";
	font-size: 14px;
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-edit::before {
	content: "✏️";
	font-size: 14px;
	color: white !important;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-loading {
	background: url(assets/ajax-loader.gif);
	background-size: 46px 46px;
}