
/* Diccionario de iconos HD */
.ui-icon-cart::before  { 
	content: "🛒";
	color: white !important;
	font-size: 11px;
	margin-top: 2px;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-loading {
	background: url(assets/ajax-loader.gif);
	background-size: 46px 46px;
}
.ui-icon-pause::before{
	content: "||";
	color: white !important;
	font-size: 12px;
	margin-top: 3px;
	font-weight: bold !important;
	display: block !important;
}
.ui-icon-alt .ui-icon{
	background: url(assets/icons-36-white.png);
}
.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
	.ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
	.ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
	.ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-bars, .ui-icon-edit,
	.ui-icon-search, .ui-icon-searchfield:after, 
	.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
		background-image: url(assets/icons-36-white.png);
		-moz-background-size: 864px 18px;
		-o-background-size: 864px 18px;
		-webkit-background-size: 864px 18px;
		background-size: 864px 18px;
	}